body {
    margin: 0;
    padding: 0;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;
    background-image: url('images/background.png');
    background-repeat: repeat;
    background-color:rgba(255,255,255,0.9);
    background-blend-mode:lighten;
}
html {
    font-size: 62.5%;
}
header, footer {
    background-color: #3ba8f5;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 2rem;
    font-size: 1.6rem;
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.left-content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 0.5rem;
    font-size: 1.7rem;
    color: #2e414e;
}

#top-logo {
    width: 25%;
    height: auto;
}

.supu-standing-image {
    width: 30%;
    height: auto;
    display: block;
}

@media (max-width: 768px) {
    .content-grid {
        grid-template-columns: 1fr;
    }
}
